body {
  font-family: "Poppins Light", $text-font-stack;
  color: $white;
  font-size: calc(1rem + 0.5vw);
}

h4 {
  color: $martinique;
}

button {
  font-family: "Poppins Medium", $text-font-stack;
  font-size: calc(1rem + 0.1vw);
}

input {
  &::placeholder {
    font-family: "Poppins Medium", $text-font-stack;
  }
}
