body {
  font-family: "Poppins Light";
  color: $white;
  font-size: calc(1rem + 0.5vw);
}

h4 {
  color: $martinique;
}

button {
  font-family: "Poppins Medium";
  font-size: calc(1rem + .1vw)
}

input {
  &::placeholder {
    font-family: "Poppins Medium";
  }
}
